<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>flower predict</h1>
 <form action="{{url_for('predict')}}" method="post">
    <input type="text" name="sepal length" placeholder="sepal length" required="required"><br>
    <input type="text" name="sepal width" placeholder="sepal width" required="required"><br>
    <input type="text" name="petal length" placeholder="petal length" required="required"><br>
    <input type="text" name="petal width" placeholder="petal width" required="required"><br>
    <input type="submit" value="predict">
 </form>

<div>
    {{prediction_text}}  
</div>

</body>
</html>